.footer {
  background-color: black;
  margin: 0%;
  top: 100%;
}

@media only screen and (min-width: 992px) {
  .footer {
    margin: 5% 0% 0% 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.footer h3 {
  color: white;
  padding: 15% 0% 0% 0%;
  font-style: italic;
  margin: 0%;
}

@media only screen and (min-width: 992px) {
  .footer h3 {
    margin: 0% 0% 0% 5%;
  }
}

.footer h4 {
  margin: 10% 0% 0% 0%;
  padding: 3%;
  color: white;
  font-size: 79%;
  text-align: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0%;
  margin: 5% 0% 5% 0%;
}

@media only screen and (min-width: 992px) {
  .footer__social {
    margin: 20% 10% 0% 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__social--li {
  border: 1px solid white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style-type: none;
  font-size: 1.3em;
  padding: 1%;
  margin: 1%;
}

.footer__social--li:hover {
  background-color: aquamarine;
}

.footer__social--li a {
  color: white;
  text-decoration: none;
}

.footer__social--li a:hover {
  color: black;
}
/*# sourceMappingURL=footer.css.map */