$tablet_landscape_breakpoint: 992px;

@mixin tablet-portrait {
    @media only screen and (min-width:$tablet_landscape_breakpoint) {
      @content;
    }
  }

@mixin backgroundImg ($url, $pos, $siz){
    background-image:url($url);
    background-position:$pos;
    background-size:$siz;
}

@mixin flex ($dis, $dir, $just, $wrap){
    display: $dis;
    flex-direction: $dir;
    justify-content: $just;
    flex-wrap: $wrap;
}
@mixin noMarPad () {
    margin: 0%;
    padding: 0%;
}



.header {
    @include flex(flex, column, center, nowrap);
    &__title {
        @include backgroundImg ("../img/place/perspective.jpg",center,cover);
        @extend .header;
        margin:0%;
        padding:0% 4% 12% 4%;
        @include tablet-portrait {
            &{
                @include backgroundImg ("../img/place/water.jpg",center,cover);
            }
        }
        & h1 {
            align-self: center;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.6);
            font-size: 3em;
            margin:20%;
            @include tablet-portrait {
                &{
                    font-size: 6em;
                    margin: 20% 40% 5% 40%;
                }
            }
        }
        & p {
            font-style: italic;
            align-self: center;
            display: flex;
            background-color: rgba(255, 255, 255, 0.6);
            font-size: 1.5em;
            @include tablet-portrait {
                &{
                    font-size: 2em;
                }
            }
        }
    }
}

.nav {
    background-color: white;
    @include flex (flex, column, space-around, wrap);
    margin:0%;
    &__logo {
        align-content: center;
        width: 100%;
        margin: 0%;
        & img {
            width:inherit;
        }
    }
    &__ul {
        @include flex (flex, row, space-evenly, wrap);
        @include noMarPad();
        width: 100%;
        list-style-type: none;       
        &--li {
            @include noMarPad();
            & a {
                margin:1%;
                text-decoration: none;
            }
            & p {
                background-color: rgb(0, 0, 0);
                color: white;
                font-size: 1.2em;
                padding:1% 10%;
                margin:0%;
                width: fit-content;
                &{
                    &:hover {
                        border:2px solid rgb(25, 199, 176);
                    }
                }
                @include tablet-portrait {
                    &{
                        padding: 2% 15%;
                        font-size: 2em;
                    }
                }

            }
        }
    }

}