.body {
  margin: 0%;
  background-color: lightgray;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  margin: 0%;
}

@media only screen and (min-width: 992px) {
  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10%;
  }
}

.main h2 {
  margin: 10% 0% 5% 0%;
  padding: 1%;
  border: 2px solid black;
  font-size: 400%;
}

.main__about {
  margin: 0% 10% 10% 10%;
  padding: 2%;
  font-size: 1.2em;
  text-align: left;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  width: 100%;
  margin: 0% 0% 0% 0%;
}

.gallery__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5%;
  font-size: 250%;
}

.gallery__section--li {
  border: 2px solid white;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  margin: 0%;
  padding: 5% 10%;
}

.gallery__section--li p {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

.gallery__section--background1 {
  background-image: url("../img/place/staitway.jpg");
}

.gallery__section--background1:hover {
  border: 2px solid aqua;
}

.gallery__section--background2 {
  background-image: url("../img/people/oldman.jpg");
}

.gallery__section--background2:hover {
  border: 2px solid aqua;
}

.gallery__section--background3 {
  background-image: url("../img/place/eiffel.jpg");
}

.gallery__section--background3:hover {
  border: 2px solid aqua;
}

.gallery__section--background4 {
  background-image: url("../img/varios/dandelion-1363238_1920.jpg");
}

.gallery__section--background4:hover {
  border: 2px solid aqua;
}

.gallery__section--background5 {
  background-image: url("../img/animal/cat.jpg");
}

.gallery__section--background5:hover {
  border: 2px solid aqua;
}

.gallery__section--background6 {
  background-image: url("../img/object/mixer.jpg");
}

.gallery__section--background6:hover {
  border: 2px solid aqua;
}
/*# sourceMappingURL=main.css.map */