$tablet_landscape_breakpoint: 992px;

@mixin tablet-portrait {
    @media only screen and (min-width:$tablet_landscape_breakpoint) {
      @content;
    }
  }

@mixin backgroundImg ($url, $pos, $siz){
    background-image:url($url);
    background-position:$pos;
    background-size:$siz;
}

@mixin flex ($dis, $dir, $just, $wrap){
    display: $dis;
    flex-direction: $dir;
    justify-content: $just;
    flex-wrap: $wrap;
}
@mixin noMarPad () {
    margin: 0%;
    padding: 0%;
}

.body {
    margin:0%;
    background-color: rgb(211, 211, 211);
}
.main {
    @include flex(flex, row, flex-start, wrap);
    background-color: rgb(255, 255, 255);
    text-align:center;
    border:2px solid black; 
    margin:0%;
    @include tablet-portrait {
        &{
            justify-content: center;
            margin:10%;
        }
    }
    & h2 {
        margin: 10% 0% 5% 0%;
        padding: 1% ;
        border: 2px solid black;
        font-size: 400%;  
    }
    &__about {
        margin: 0% 10% 10% 10%;
        padding: 2%;
        font-size: 1.2em;
        text-align: left;
    }
}

.gallery {
    @include flex (flex, row, space-around,wrap);
    background-color: black;
    width: 100%;
    margin:0% 0% 0% 0%;
    &__section {
        @include flex (flex, row, space-evenly, wrap);
        margin: 5%;
        font-size: 250%;
        &--li {
            border:2px solid white;
            background-size: cover;
            background-position: center;
            text-decoration: none;
            margin:0%;
            padding: 5% 10%;
            & p {
                color: black;
                background-color: rgba(255, 255, 255, 0.6); 
            }
        }
        &--background1 {
            background-image: url("../img/place/staitway.jpg");
            &{
                &:hover {
                    border:2px solid aqua;
                }
            }
        }
        &--background2{
            background-image: url("../img/people/oldman.jpg");
            &{
                &:hover {
                    border:2px solid aqua;
                }
            }
        }
        &--background3{
            background-image: url("../img/place/eiffel.jpg");
            &{
                &:hover {
                    border:2px solid aqua;
                }
            }
        }
        &--background4{
            background-image: url("../img/varios/dandelion-1363238_1920.jpg");
            &{
                &:hover {
                    border:2px solid aqua;
                }
            }

        }
        &--background5{
            background-image: url("../img/animal/cat.jpg");
            &{
                &:hover {
                    border:2px solid aqua;
                }
            }

        }
        &--background6{
            background-image: url("../img/object/mixer.jpg");
            &{
                &:hover {
                    border:2px solid aqua;
                }
            }

        }
    }
}

