.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10% 0% 0% 0%;
    top:100%;
    text-align: center;
    justify-content: center;
}

.footer__header h3 {
    padding: 1%;
    font-style: italic;
    display: inline-block;
    background-color: rgb(141, 200, 252);
    margin: 10% 0% 0% 0%;
}

.footer__social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:0%;
    margin: 10% 0% 5% 0%;
}

.footer__social--li {
    border:1px solid rgb(255, 255, 255);
    align-self: center;
    list-style-type: none;
    font-size: 1.3em;
    padding: 1%;
    margin: 1%;
    text-align: centr;
}

.footer__social--li a {

    color: white;
    text-decoration: none;
}

.footer__copyright h4 {
    margin:10% 0% 0% 0%;
    padding: 5%;
    color: white;
}