.main {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border:2px solid black; 
    margin:4% 2% 0%;
}

.main h2{
    margin: 10% 0% 10% 0%;
    padding: 1% ;
    border: 2px solid black;
    font-size: 400%;
}

.gallery {
    background-color: black;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 100%;
    margin:0% 0% 10% 0%;
}
.gallery__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    font-size: 250%;
}
.gallery__section--li {
    border:2px solid white;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    margin:0%;
    padding: 5% 10%;
}

.gallery__section--background1 {
    background-image: url("../img/place/water.jpg");
}
.gallery__section--background2 {
    background-image: url("../img/people/oldman.jpg");
}
.gallery__section--background3 {
    background-image: url("../img/place/eiffel.jpg");
}
.gallery__section--background4 {
    background-image: url("../img/varios/dandelion-1363238_1920.jpg");

}
.gallery__section--background5 {
    background-image: url("../img/animal/cat.jpg");

}
.gallery__section--background6 {
    background-image: url("../img/object/mixer.jpg");

}
.gallery__section--li p {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    
}

.main__about {
    margin: 0% 10% 10% 10%;
}
.main__about p{
    padding: 2%;
    font-size: 1.2em;
    text-align: left;
}